@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Calendario";

    @using ThemisWorkshop.Controllers;

    @model List<Cita>
    
    Usuario usuario = CitaController.usuario;
    List<String> dias = new List<String>();
    dias.Add("Domingo");
    dias.Add("Lunes");
    dias.Add("Martes");
    dias.Add("Miércoles");
    dias.Add("Jueves");
    dias.Add("Viernes");
    dias.Add("Sábado");
    List<Tarea> tareas = null;
    string color;

    tareas = CitaController._temp.Tarea.Where(tarea => tarea.IdUsuario == usuario.IdUsuario && tarea.Realizado == false).ToList();

    // Monthly

    DateTime currentDate = DateTime.UtcNow.AddHours(-4);
    int year = currentDate.Year;
    int month = currentDate.Month;
    string monthName = currentDate.ToString("MMMM", new System.Globalization.CultureInfo("es-ES")).ToUpper();

    DateTime currentMonth = new DateTime(year, month, 1, currentDate.Hour, currentDate.Minute, currentDate.Second);
    int daysInMonth = DateTime.DaysInMonth(year, month);
    int startDay = (int)currentMonth.DayOfWeek;
    int emptyCells = startDay == 0 ? 6 : startDay - 1;
    int numRows = (int)Math.Ceiling((double)(daysInMonth + emptyCells) / 7);

    // Weekly

    int day = currentDate.Day;

    DateTime currentWeekStart = currentDate.AddDays(-(int)currentDate.DayOfWeek);
    int daysInWeek = 7;

    int startDayWeek = (int)currentWeekStart.DayOfWeek;
    int emptyCellsWeek = startDayWeek == 0 ? 6 : startDayWeek - 1;

    if (currentWeekStart.Month < month)
    {
        emptyCellsWeek += 7;
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .card:hover {
            border-width: 3px;
            border-color: #4b4b4b;
        }
    </style>
</head>
<body>
    <div class="row my-3">
        <div class="col-2">
            <select class="form-select" id="filter_combobox" onchange="filter_calendar()">
                <option selected value="0">Mensual</option>
                <option value="1">Semanal</option>
            </select>
        </div>
        <div class="col ps-0 text-end">
            <a class="btn btn-positive" href="/Cita/ListarCitas/1" role="button">Ver Citas</a>
        </div>
        <div class="col-auto ps-0">
            <a class="btn btn-positive" href="/Tarea/ListarTareas/1" role="button">Ver Tareas</a>
        </div>
    </div>
    <div class="row">
        <div class="col" id="weekly" style="display: none;">
            <table class="table table-responsive  table-bordered" id="table">
                <tbody>
                    <tr class="text-center">
                        @{
                            <td>Hora</td>

                            for (int i = 0; i < daysInWeek; i++)
                            {
                                DateTime currentDay = currentWeekStart.AddDays(i);
                                DateTime today = DateTime.Today;

                                if (i == 0 || i == 6)
                                {
                                    <td style="width: 2.5%; background-color: #FAFAFA;">
                                        <small class="grey">@currentDay.Day</small>
                                    </td>
                                }
                                else if (today.Day == currentDay.Day)
                                {
                                    color = "#E4ADC8";

                                    <td class="fw-bold border-3" style="width: 18%; border-color: @color; color: @color">@dias[i] @currentDay.Day</td>
                                }
                                else
                                {
                                    <td class="fw-bold" style="width: 18%;">@dias[i] @currentDay.Day</td>
                                }
                            }
                        }
                    </tr>
                    @{
                        for (int hour = 8; hour <= 18; hour++)
                        {
                            <tr>
                                <td class="text-center">@hour:00</td>

                                @{
                                    for (int i = 0; i < daysInWeek; i++)
                                    {
                                        DateTime currentDay = currentWeekStart.AddDays(i);
                                        DateTime today = DateTime.Today;

                                        var citasForDay = Model.Where(cita => cita.Fecha == currentDay.Date &&
                                        cita.HoraInicial.Hour >= hour &&
                                        cita.HoraInicial.Hour < hour + 1).ToList();

                                        var tareasForDay = tareas.Where(tarea => tarea.Fecha == currentDay.Date &&
                                        tarea.Hora.Hour >= hour &&
                                        tarea.Hora.Hour < hour + 1).ToList();
        
                                        if (i == 0 || i == 6)
                                        {
                                            <td class="text-end" style="background-color: #FAFAFA;"></td>
                                        }
                                        else if (today.Day == currentDay.Day)
                                        {
                                            color = "#E4ADC8";

                                            <td class="fw-bold hover-cell">
                                                <div class="row">
                                                    <div class="col">
                                                        @{
                                                            foreach (var cita in citasForDay)
                                                            {
                                                                DateTime citaDate = cita.Fecha.Date;

                                                                if (citaDate.Hour < currentDate.Hour)
                                                                {
                                                                    color = "#FF6663";
                                                                }
                                                                else
                                                                {
                                                                    color = "#B4D2E4";
                                                                }
                                                                <div class="card" style="border-color: @color;">
                                                                    <div class="card-body p-0">
                                                                        <div class="row g-0">
                                                                            <div class="col-auto" style="background-color: @color;">
                                                                                &nbsp;
                                                                            </div>
                                                                            <div class="col p-2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                            CITA
                                                                                        </span>
                                                                                        @cita.Asunto
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <a href="/Consulta/AgregarConsulta/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-auto text-end">
                                                                                        <a href="/Cita/ReagendarCita/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                            </svg>
                                                                                        </a>

                                                                                        <!-- Trigger modal -->
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@cita.IdCita">
                                                                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                        </svg>

                                                                                        <!-- Modal -->
                                                                                        <div class="modal fade" id="modal-@cita.IdCita" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                <div class="modal-content text-center">
                                                                                                    <div class="modal-header">
                                                                                                        <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Cita</h1>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        ¿Seguro que desea eliminar este registro?<br>
                                                                                                        <b>@cita.Asunto</b>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <div class="input-group d-flex justify-content-center">
                                                                                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                            <a href="/Cita/EliminarCita/@cita.IdCita" class="btn btn-positive">Aceptar</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            foreach (var tarea in tareasForDay)
                                                            {
                                                                DateTime tareaDate = tarea.Fecha.Date;

                                                                if (tareaDate.Hour < currentDate.Hour)
                                                                {
                                                                    color = "#FF6663";
                                                                }
                                                                else
                                                                {
                                                                    color = "#B4D2E4";
                                                                }
                                                                <div class="card" style="border-color: @color;">
                                                                    <div class="card-body p-0">
                                                                        <div class="row g-0">
                                                                            <div class="col-auto" style="background-color: @color;">
                                                                                &nbsp;
                                                                            </div>
                                                                            <div class="col p-2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                            TAREA
                                                                                        </span>
                                                                                        @tarea.Asunto
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <a href="/Tarea/RealizarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-auto text-end">
                                                                                        <a href="/Tarea/ModificarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                            </svg>
                                                                                        </a>

                                                                                        <!-- Trigger modal -->
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@tarea.IdTarea">
                                                                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                        </svg>

                                                                                        <!-- Modal -->
                                                                                        <div class="modal fade" id="modal-@tarea.IdTarea" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                <div class="modal-content text-center">
                                                                                                    <div class="modal-header">
                                                                                                        <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Tarea</h1>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        ¿Seguro que desea eliminar este registro?<br>
                                                                                                        <b>@tarea.Asunto</b>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <div class="input-group d-flex justify-content-center">
                                                                                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                            <a href="/Tarea/EliminarTarea/@tarea.IdTarea" class="btn btn-positive">Aceptar</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="hover-cell">
                                                <div class="row">
                                                    <div class="col">
                                                        @{
                                                            foreach (var cita in citasForDay)
                                                            {
                                                                DateTime citaDate = cita.Fecha.Date;

                                                                if (citaDate < currentDate.Date)
                                                                {
                                                                    color = "#FF6663";
                                                                }
                                                                else
                                                                {
                                                                    color = "#B4D2E4";
                                                                }
                                                                <div class="card" style="border-color: @color;">
                                                                    <div class="card-body p-0">
                                                                        <div class="row g-0">
                                                                            <div class="col-auto" style="background-color: @color;">
                                                                                &nbsp;
                                                                            </div>
                                                                            <div class="col p-2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                            CITA
                                                                                        </span>
                                                                                        @cita.Asunto
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <a href="/Consulta/AgregarConsulta/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-auto text-end">
                                                                                        <a href="/Cita/ReagendarCita/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                            </svg>
                                                                                        </a>

                                                                                        <!-- Trigger modal -->
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@cita.IdCita">
                                                                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                        </svg>

                                                                                        <!-- Modal -->
                                                                                        <div class="modal fade" id="modal-@cita.IdCita" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                <div class="modal-content text-center">
                                                                                                    <div class="modal-header">
                                                                                                        <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Cita</h1>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        ¿Seguro que desea eliminar este registro?<br>
                                                                                                        <b>@cita.Asunto</b>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <div class="input-group d-flex justify-content-center">
                                                                                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                            <a href="/Cita/EliminarCita/@cita.IdCita" class="btn btn-positive">Aceptar</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            foreach (var tarea in tareasForDay)
                                                            {
                                                                DateTime tareaDate = tarea.Fecha.Date;

                                                                if (tareaDate < currentDate.Date)
                                                                {
                                                                    color = "#FF6663";
                                                                }
                                                                else
                                                                {
                                                                    color = "#B4D2E4";
                                                                }
                                                                <div class="card" style="border-color: @color;">
                                                                    <div class="card-body p-0">
                                                                        <div class="row g-0">
                                                                            <div class="col-auto" style="background-color: @color;">
                                                                                &nbsp;
                                                                            </div>
                                                                            <div class="col p-2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                            TAREA
                                                                                        </span>
                                                                                        @tarea.Asunto
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <a href="/Tarea/RealizarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-auto text-end">
                                                                                        <a href="/Tarea/ModificarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                            </svg>
                                                                                        </a>

                                                                                        <!-- Trigger modal -->
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@tarea.IdTarea">
                                                                                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                        </svg>

                                                                                        <!-- Modal -->
                                                                                        <div class="modal fade" id="modal-@tarea.IdTarea" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                <div class="modal-content text-center">
                                                                                                    <div class="modal-header">
                                                                                                        <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Tarea</h1>
                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        ¿Seguro que desea eliminar este registro?<br>
                                                                                                        <b>@tarea.Asunto</b>
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <div class="input-group d-flex justify-content-center">
                                                                                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                            <a href="/Tarea/EliminarTarea/@tarea.IdTarea" class="btn btn-positive">Aceptar</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col" id="monthly">
            <table class="table table-responsive table-bordered" id="table">
                <tbody>
                    <tr class="text-center">
                        <td colspan="7">
                            <b>@monthName</b>
                        </td>
                    </tr>
                    <tr class="text-center fw-bold">
                        @{
                            foreach (var dia in dias)
                            {
                                if (dia.Equals("Domingo") || dia.Equals("Sábado"))
                                {
                                    <td style="width: 2.5%; background-color: #FAFAFA;"></td>
                                }
                                else
                                {
                                    <td style="width: 19%;">@dia</td>
                                }
                            }
                        }
                    </tr>
                    @{
                        for (int row = 0; row < numRows; row++)
                        {
                            <tr style="height: 100px;">
                                @{
                                    for (int col = 0; col < 7; col++)
                                    {
                                        int dayNumber = row * 7 + col - emptyCells;
                                        string formattedDayNumber = dayNumber.ToString("D2");

                                        if (dayNumber > 0 && dayNumber <= daysInMonth)
                                        {
                                            DateTime currentDateOfMonth = new DateTime(year, month, dayNumber);
                                            var citasForDay = Model.Where(cita => cita.Fecha == currentDateOfMonth.Date).ToList();
                                            var tareasForDay = tareas.Where(tarea => tarea.Fecha == currentDateOfMonth.Date).ToList();

                                            if (dayNumber == currentDate.Day)
                                            {
                                                color = "#E4ADC8";

                                                <td class="fw-bold border-3 hover-cell" style="border-color: @color;">
                                                    <div class="row">
                                                        <div class="col">
                                                            @{
                                                                foreach (var cita in citasForDay)
                                                                {
                                                                    <div class="card mt-2" style="border-color: @color;">
                                                                        <div class="card-body p-0">
                                                                            <div class="row g-0">
                                                                                <div class="col-auto" style="background-color: @color;">
                                                                                    &nbsp;
                                                                                </div>
                                                                                <div class="col p-2">
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                                CITA
                                                                                            </span>
                                                                                            @cita.Asunto
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <a href="/Consulta/AgregarConsulta/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="col-auto text-end">
                                                                                            <a href="/Cita/ReagendarCita/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                                </svg>
                                                                                            </a>

                                                                                            <!-- Trigger modal -->
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@cita.IdCita">
                                                                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                            </svg>

                                                                                            <!-- Modal -->
                                                                                            <div class="modal fade" id="modal-@cita.IdCita" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                                <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                    <div class="modal-content text-center">
                                                                                                        <div class="modal-header">
                                                                                                            <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Cita</h1>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
                                                                                                            ¿Seguro que desea eliminar este registro?<br>
                                                                                                            <b>@cita.Asunto</b>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                            <div class="input-group d-flex justify-content-center">
                                                                                                                <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                                <a href="/Cita/EliminarCita/@cita.IdCita" class="btn btn-positive">Aceptar</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                                foreach (var tarea in tareasForDay)
                                                                {
                                                                    <div class="card mt-2" style="border-color: @color;">
                                                                        <div class="card-body p-0">
                                                                            <div class="row g-0">
                                                                                <div class="col-auto" style="background-color: @color;">
                                                                                    &nbsp;
                                                                                </div>
                                                                                <div class="col p-2">
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                                TAREA
                                                                                            </span>
                                                                                            @tarea.Asunto
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <a href="/Tarea/RealizarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="col-auto text-end">
                                                                                            <a href="/Tarea/ModificarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                                </svg>
                                                                                            </a>

                                                                                            <!-- Trigger modal -->
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@tarea.IdTarea">
                                                                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                            </svg>

                                                                                            <!-- Modal -->
                                                                                            <div class="modal fade" id="modal-@tarea.IdTarea" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                                <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                    <div class="modal-content text-center">
                                                                                                        <div class="modal-header">
                                                                                                            <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Tarea</h1>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
                                                                                                            ¿Seguro que desea eliminar este registro?<br>
                                                                                                            <b>@tarea.Asunto</b>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                            <div class="input-group d-flex justify-content-center">
                                                                                                                <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                                <a href="/Tarea/EliminarTarea/@tarea.IdTarea" class="btn btn-positive">Aceptar</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="badge" style="background-color: @color;">
                                                                @formattedDayNumber
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                            else if (col == 0 || col == 6)
                                            {
                                                <td class="text-end" style="background-color: #FAFAFA;"><small class="grey">@formattedDayNumber</small></td>
                                            }
                                            else
                                            {
                                                <td class="hover-cell">
                                                    <div class="row">
                                                        <div class="col text-end">
                                                            <small>@formattedDayNumber</small>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            @{                                                                                                                  
                                                                foreach (var cita in citasForDay)
                                                                {
                                                                    DateTime citaDate = cita.Fecha.Date;

                                                                    if (citaDate < currentDate.Date)
                                                                    {
                                                                        color = "#FF6663";
                                                                    }
                                                                    else
                                                                    {
                                                                        color = "#B4D2E4";
                                                                    }
                                                                    <div class="card mt-2" style="border-color: @color;">
                                                                        <div class="card-body p-0">
                                                                            <div class="row g-0">
                                                                                <div class="col-auto" style="background-color: @color;">
                                                                                    &nbsp;
                                                                                </div>
                                                                                <div class="col p-2">
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                                CITA
                                                                                            </span>
                                                                                            @cita.Asunto
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <a href="/Consulta/AgregarConsulta/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="col-auto text-end">
                                                                                            <a href="/Cita/ReagendarCita/@cita.IdCita" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                                </svg>
                                                                                            </a>

                                                                                            <!-- Trigger modal -->
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@cita.IdCita">
                                                                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                            </svg>

                                                                                            <!-- Modal -->
                                                                                            <div class="modal fade" id="modal-@cita.IdCita" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                                <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                    <div class="modal-content text-center">
                                                                                                        <div class="modal-header">
                                                                                                            <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Cita</h1>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
                                                                                                            ¿Seguro que desea eliminar este registro?<br>
                                                                                                            <b>@cita.Asunto</b>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                            <div class="input-group d-flex justify-content-center">
                                                                                                                <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                                <a href="/Cita/EliminarCita/@cita.IdCita" class="btn btn-positive">Aceptar</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>                                    
                                                                }
                                                                foreach (var tarea in tareasForDay)
                                                                {
                                                                    DateTime tareaDate = tarea.Fecha.Date;

                                                                    if (tareaDate < currentDate.Date)
                                                                    {
                                                                        color = "#FF6663";
                                                                    }
                                                                    else
                                                                    {
                                                                        color = "#B4D2E4";
                                                                    }
                                                                    <div class="card mt-2" style="border-color: @color;">
                                                                        <div class="card-body p-0">
                                                                            <div class="row g-0">
                                                                                <div class="col-auto" style="background-color: @color;">
                                                                                    &nbsp;
                                                                                </div>
                                                                                <div class="col p-2">
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <span class="badge" style="background-color: @color; color: #FFF;">
                                                                                                TAREA
                                                                                            </span>
                                                                                            @tarea.Asunto
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <a href="/Tarea/RealizarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Completar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check2-square" viewBox="0 0 16 16">
                                                                                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                                                                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="col-auto text-end">
                                                                                            <a href="/Tarea/ModificarTarea/@tarea.IdTarea" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reagendar">
                                                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                                                                </svg>
                                                                                            </a>

                                                                                            <!-- Trigger modal -->
                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@tarea.IdTarea">
                                                                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                                                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                                                            </svg>

                                                                                            <!-- Modal -->
                                                                                            <div class="modal fade" id="modal-@tarea.IdTarea" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                                                                <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                                                                    <div class="modal-content text-center">
                                                                                                        <div class="modal-header">
                                                                                                            <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Eliminar Tarea</h1>
                                                                                                        </div>
                                                                                                        <div class="modal-body">
                                                                                                            ¿Seguro que desea eliminar este registro?<br>
                                                                                                            <b>@tarea.Asunto</b>
                                                                                                        </div>
                                                                                                        <div class="modal-footer">
                                                                                                            <div class="input-group d-flex justify-content-center">
                                                                                                                <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                                                                <a href="/Tarea/EliminarTarea/@tarea.IdTarea" class="btn btn-positive">Aceptar</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div> 
                                                    </div>
                                                </td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="background-color: #FAFAFA;"></td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function filter_calendar() {
            var combobox = document.getElementById("filter_combobox");
            var selectedOption = combobox.value;

            var weeklyElement = document.getElementById("weekly");
            var monthlyElement = document.getElementById("monthly");

            if (selectedOption === "0") {
                weeklyElement.style.display = "none";
                monthlyElement.style.display = "block";
            } else if (selectedOption === "1") {
                weeklyElement.style.display = "block";
                monthlyElement.style.display = "none";
            }
        }
    </script>
</body>
</html>