@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ThemisWorkshop.Controllers;
    ViewData["Title"] = "Agregar/Modificar Expediente";
    @model ExpedienteViewModel
    @if (Model.EsMod == false) // Si no hay nada, significa que esta agregando un Expediente
    {
        ViewData["Title"] = "Registrar Expediente";
    }
    else // Si hay algo, significa que esta modificando un Expediente
    {
        ViewData["Title"] = "Modificar Expediente";
    }

    List<Servicio> servicios = Model.Servicios;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .table-responsive {
            min-height: 200px;
            max-height: 200px;
        }
    </style>
</head>
    
<body>
    @if (Model.EsMod == false)
    {
        <form asp-controller="Expediente" asp-action="AddExpediente" method="post">
            <input type="hidden" value="@Model.Cliente.IdClientes" name="idCliente">
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información del Expediente de @Model.Cliente.Nombre @Model.Cliente.Apellido:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="titulo" placeholder="titulo" value="" name="titulo" maxlength="50">
                        <label for="titulo">Título</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea required class="form-control" id="descripcion" placeholder="descripcion" value="" name="descripcion" style="height: 100px" maxlength="100"></textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col fw-bold">
                    Servicios:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <input type="text" class="form-control" id="search_filter" placeholder="Escribe para buscar..." value="" onkeyup="filter_table()">
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col fw-bold">
                    Servicios Disponibles:
                </div>
                <div class="col fw-bold">
                    Servicios del Expediente:
                </div>
            </div>
            <div class="row m-0 g-3">
                <input type="hidden" value="" name="id" id="id-input">

                <div class="col border mx-2">
                    <div class="table-responsive">
                        <table class="table table-hover" id="left-table">
                            <tbody>
                                @foreach (var servicio in servicios)
                                {
                                    <tr class="left-row">
                                        <input type="hidden" value="@servicio.IdServicio" name="idServicio">
                                        <td>@servicio.Nombre</td>
                                        <td>@servicio.Preciofijo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col border mx-2">
                    <div class="table-responsive">
                        <table class="table table-hover" id="right-table">
                            <tbody>
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Expediente/ListarExpedientes/1" class="btn btn-negative">Cancelar</a>
                        <button type="submit" class="btn btn-positive">Registrar</button>
                    </div>
                </div>
            </div> 
        </form>
    }
    else
    {
        <form asp-controller="Expediente" asp-action="ModExpediente" method="post">
            <input type="hidden" value="@Model.Expediente.IdExpediente" name="idExpediente">
            <input type="hidden" value="@Model.Cliente.IdClientes" name="idCliente">

            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información del Expediente de @Model.Cliente.Nombre @Model.Cliente.Apellido:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="titulo" placeholder="titulo" value="@Model.Expediente.Asunto" name="titulo" maxlength="50">
                        <label for="titulo">Título</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea required class="form-control" id="descripcion" placeholder="descripcion" value="@Model.Expediente.Descripcion" name="descripcion" style="height: 100px" maxlength="100"></textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col fw-bold">
                    Servicios:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <input type="text" class="form-control" id="search_filter" placeholder="Escribe para buscar..." value="" onkeyup="filter_table()">
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col fw-bold">
                    Servicios Disponibles:
                </div>
                <div class="col fw-bold">
                    Servicios del Expediente:
                </div>
            </div>
            <div class="row m-0 g-3">
                @{
                    string concatenatedIds = string.Join("-", Model.Servicios.Select(servicio => servicio.IdServicio));
                }
                <input type="hidden" value="@concatenatedIds" name="id-originales">

                <input type="hidden" value="" name="id" id="id-input">
                <div class="col border mx-2">
                    <div class="table-responsive">
                        <table class="table table-hover" id="left-table">
                            <tbody>
                                @foreach (var servicio in servicios.Where(s => !Model.Servicios.Any(ms => ms.IdServicio == s.IdServicio)))
                                {
                                    <tr class="left-row">
                                        <input type="hidden" value="@servicio.IdServicio" name="idServicio">
                                        <td>@servicio.Nombre</td>
                                        <td>@servicio.Preciofijo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col border mx-2">
                    <div class="table-responsive">
                        <table class="table table-hover" id="right-table">
                            <tbody>
                                @foreach (var servicio in Model.Expediente.Servicios)
                                {
                                    var matchingServicio = servicios.FirstOrDefault(s => s.IdServicio == servicio.IdServicio);
                                    if (matchingServicio != null)
                                    {
                                        <tr class="right-row">
                                            <input type="hidden" value="@servicio.IdServicio" name="idServicio">
                                            <td>@matchingServicio.Nombre</td>
                                            <td>@matchingServicio.Preciofijo</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Expediente/ListarExpedientes/1" class="btn btn-negative">Cancelar</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-positive" data-bs-toggle="modal" data-bs-target="#exampleModal">Modificar</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Modificar Expediente</h1>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro que desea guardar los cambios?
                                    </div>
                                    <div class="modal-footer">
                                        <div class="input-group d-flex justify-content-center">
                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-positive">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }

    <script>
        var leftRows = document.getElementsByClassName('left-row');
        for (var i = 0; i < leftRows.length; i++) {
            leftRows[i].addEventListener('click', moveRowToRightTable);
        }

        var rightRows = document.getElementsByClassName('right-row');
        for (var i = 0; i < rightRows.length; i++) {
            rightRows[i].addEventListener('click', moveRowToLeftTable);
        }

        function updateHiddenInputValue() {
            var rightTable = document.getElementById('right-table');
            var rightRows = rightTable.getElementsByClassName('right-row');
            var ids = [];
            for (var i = 0; i < rightRows.length; i++) {
                var hiddenInput = rightRows[i].querySelector('input[type="hidden"]');
                var id = hiddenInput.value;
                ids.push(id);
            }

            var hiddenInput = document.getElementById('id-input');
            hiddenInput.value = ids.join('-');
        }


        function moveRowToRightTable() {
            // Get the clicked row
            var row = this;

            // Clone the row to preserve its content
            var clonedRow = row.cloneNode(true);

            // Remove the click event listener from the cloned row
            clonedRow.removeEventListener('click', moveRowToRightTable);

            // Append the cloned row to the right table
            var rightTable = document.getElementById('right-table').getElementsByTagName('tbody')[0];
            rightTable.appendChild(clonedRow);

            // Remove the clicked row from the left table
            row.parentNode.removeChild(row);

            // Add an event listener to the cloned row to move it back to the left table
            clonedRow.addEventListener('click', moveRowToLeftTable);
            clonedRow.classList.add('right-row');
            updateHiddenInputValue();

            input = document.getElementById("search_filter");
            input.value = "";
            filter_table();
        }

        function moveRowToLeftTable() {
            // Get the clicked row
            var row = this;

            // Clone the row to preserve its content
            var clonedRow = row.cloneNode(true);

            // Remove the click event listener from the cloned row
            clonedRow.removeEventListener('click', moveRowToLeftTable);

            // Append the cloned row to the left table
            var leftTable = document.getElementById('left-table').getElementsByTagName('tbody')[0];
            leftTable.appendChild(clonedRow);

            // Remove the clicked row from the right table
            row.parentNode.removeChild(row);

            // Add an event listener to the cloned row to move it to the right table
            clonedRow.addEventListener('click', moveRowToRightTable);
            clonedRow.classList.remove('right-row');
            updateHiddenInputValue();

            input = document.getElementById("search_filter");
            input.value = "";
            filter_table();
        }
    </script>

    <script>
        function filter_table() {
            var input, filter, table, tr, td, i, j, visible;
            input = document.getElementById("search_filter");
            filter = input.value.toUpperCase();

            for (x = 0; x < 2; x++) {
                if (x == 0) {
                    table = document.getElementById("left-table");
                } else {
                    table = document.getElementById("right-table");
                }
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    visible = false;
                    if (tr[i].getElementsByTagName("th").length == 0) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                                visible = true;
                            }
                        }
                    } else {
                        visible = true;
                    }
                    if (visible) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>