@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Expedientes";

    @using ThemisWorkshop.Controllers;
    @model ExpedienteViewModel;

    string color = "#4B4B4B";
    int counter = 1;

    List<Categoria> categorias = ExpedienteController._temp.Categoria.Where(categoria => !categoria.Eliminado).ToList();
    List<Cliente> clientes = ExpedienteController._temp.Clientes.ToList();
    List<Servicio> servicios = ExpedienteController._temp.Servicio.ToList();
    List<Expediente> expedientesActivos = Model.Expedientes.Where(expediente => expediente.Activo).ToList();
    List<Expediente> expedientesArchivados = Model.Expedientes.Where(expediente => !expediente.Activo).ToList();
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .archivados {
            display: none;
        }
    </style>
</head>
<body>
    <div class="row mt-3 text-center">
        <div class="col fw-bold h3">
            EXPEDIENTES ENCONTRADOS
        </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center">
        <div class="col-8 fw-bold">
            <div class="position-relative m-4">
                <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 2px;">
                    <div class="progress-bar" style="width: 100%; background-color: #9EE09E;"></div>
                </div>
                <div class="position-absolute top-0 start-0 translate-middle btn btn-sm rounded-pill" style="width: 6rem; height:2rem; background-color: #9EE09E; color: #FFF;">Categoría</div>
                <div class="position-absolute top-0 start-50 translate-middle btn btn-sm rounded-pill" style="width: 6rem; height:2rem; background-color: #9EE09E; color: #FFF;">Cliente</div>
                <div class="position-absolute top-0 start-100 translate-middle btn btn-sm rounded-pill" style="width: 6rem; height:2rem; background-color: #9EE09E; color: #FFF;">Expediente</div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <select class="form-select" id="filterCombobox" onchange="filterCardsByEstado()">
                        <option selected value="0">Activos</option>
                        <option value="1">Archivados</option>
                        <option value="2">Todos</option>
                    </select>
                </div>
                <div class="col ps-0">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                            </svg>
                        </span>
                        <input readonly type="text" class="form-control" placeholder="@Model.Cliente.Nombre @Model.Cliente.Apellido">
                    </div>
                </div>
                <div class="col-auto ps-0">
                    <a class="btn btn-positive" href="/Cliente/ListarClientes/1" role="button">Registrar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col fw-bold activos">
            Expedientes Activos
        </div>
        <div class="col fw-bold archivados">
            Expedientes Archivados
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <div class="input-group flex-nowrap">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </span>
                <input id="searchInput" type="text" class="form-control" placeholder="Escribe para buscar..." onkeyup="filterCards()">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col activos">
            @{
                if (expedientesActivos.Count.Equals(0))
                {
                    <div class="text-center">
                        ¡No hay expedientes activos!
                    </div>
                }
                else
                {
                    color = "#9EE09E";

                    foreach (var expediente in expedientesActivos)
                    {
                        counter = 1;

                        <div class="card mb-3" style="border-color: @color;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-auto" style="background-color: @color;">
                                        &nbsp; &nbsp;
                                    </div>
                                    <div class="col p-3">
                                        <div class="row">
                                            <div class="col">
                                                <b>@expediente.Asunto</b>
                                            </div>
                                            @{
                                                if (expediente.Numeracion != 0)
                                                {
                                                    <div class="col-auto">
                                                        <span class="badge" style="background-color: @color;">
                                                            @expediente.Numeracion
                                                        </span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <small>@expediente.Descripcion</small><br>
                                        <table class="table table-sm table-hover border mt-3">
                                            <tbody>
                                                @{
                                                    foreach (var servicio in servicios)
                                                    {
                                                        var misServicios = @ExpedienteController._temp.Detalleservicio.Where(e => e.IdExpediente == expediente.IdExpediente).ToList();

                                                        foreach (var miServicio in misServicios)
                                                        {
                                                            if (servicio.IdServicio == miServicio.IdServicio)
                                                            {
                                                                <tr>
                                                                    @{
                                                                        if (miServicio.Facturado == true || servicio.IdServicio == 1)
                                                                        {
                                                                            <td style="width: 2.5%">
                                                                                <small class="grey">@counter</small>
                                                                            </td>
                                                                            <td style="width: 100%" colspan="1">
                                                                                @servicio.Nombre
                                                                            </td>
                                                                            <td style="width: 2.5%"></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="width: 2.5%">
                                                                                <small class="grey">@counter</small>
                                                                            </td>
                                                                            <td style="width: 100%">
                                                                                @servicio.Nombre
                                                                            </td>
                                                                            <td style="width: 2.5%">
                                                                                <a href="/Factura/GenerarFactura/@servicio.IdServicio&-1&@expediente.IdExpediente" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Facturar">
                                                                                    <span class="badge" style="background-color: @color">
                                                                                        Facturar
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                        }
                                                                    }
                                                                </tr>

                                                                counter = counter + 1;
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="my-light-black" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                                </svg>
                                                <span class="badge" style="background-color: @color">
                                                    @expediente.FechaApertura.ToShortDateString()
                                                </span>
                                            </div>
                                            <div class="col-auto text-end">
                                                <a href="/Expediente/ModificarExpediente/@expediente.IdExpediente" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modificar">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#my-light-black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </a>
                                                <!-- Trigger modal -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-archive" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@expediente.IdExpediente">
                                                    <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                                </svg>
                                                <!-- Modal -->
                                                <div class="modal fade" id="modal-@expediente.IdExpediente" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                        <div class="modal-content text-center">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Archivar Expediente</h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Seguro que desea archivar este registro?<br>
                                                                <b>@expediente.Asunto</b>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="input-group d-flex justify-content-center">
                                                                    <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                    <a href="/Expediente/EliminarExpediente/@expediente.IdExpediente" class="btn btn-positive">Aceptar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="col archivados">
            @{
                if (expedientesArchivados.Count.Equals(0))
                {
                    <div class="text-center">
                        ¡No hay expedientes archivados!
                    </div>
                }
                else
                {
                    color = "#B4D2E4";

                    foreach (var expediente in expedientesArchivados)
                    {
                        counter = 1;

                        <div class="card mb-3" style="border-color: @color;">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-auto" style="background-color: @color;">
                                        &nbsp; &nbsp;
                                    </div>
                                    <div class="col p-3">
                                        <div class="row">
                                            <div class="col">
                                                <b>@expediente.Asunto</b>
                                            </div>
                                            @{
                                                if (expediente.Numeracion != 0)
                                                {
                                                    <div class="col-auto">
                                                        <span class="badge" style="background-color: @color;">
                                                            @expediente.Numeracion
                                                        </span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <small>@expediente.Descripcion</small><br>
                                        <table class="table table-sm table-hover border mt-3">
                                            <tbody>
                                                @{
                                                    foreach (var servicio in servicios)
                                                    {
                                                        var misServicios = @ExpedienteController._temp.Detalleservicio.Where(e => e.IdExpediente == expediente.IdExpediente).ToList();

                                                        foreach (var miServicio in misServicios)
                                                        {
                                                            if (servicio.IdServicio == miServicio.IdServicio)
                                                            {
                                                                <tr>
                                                                    @{
                                                                        if (miServicio.Facturado == true || servicio.IdServicio == 1)
                                                                        {
                                                                            <td style="width: 2.5%">
                                                                                <small class="grey">@counter</small>
                                                                            </td>
                                                                            <td style="width: 100%" colspan="1">
                                                                                @servicio.Nombre
                                                                            </td>
                                                                            <td style="width: 2.5%"></td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td style="width: 2.5%">
                                                                                <small class="grey">@counter</small>
                                                                            </td>
                                                                            <td style="width: 100%">
                                                                                @servicio.Nombre
                                                                            </td>
                                                                            <td style="width: 2.5%">
                                                                                <a href="/Factura/GenerarFactura/@servicio.IdServicio&-1&@expediente.IdExpediente" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Facturar">
                                                                                    <span class="badge" style="background-color: @color">
                                                                                        Facturar
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                        }
                                                                    }
                                                                </tr>

                                                                counter = counter + 1;
                                                            }
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="my-light-black" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z" />
                                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                                </svg>
                                                <span class="badge" style="background-color: @color">
                                                    @expediente.FechaApertura.ToShortDateString()
                                                </span>
                                            </div>
                                            <div class="col-auto text-end">
                                                <a href="/Expediente/ModificarExpediente/@expediente.IdExpediente" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modificar">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#my-light-black" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                    </svg>
                                                </a>
                                                <!-- Trigger modal -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-archive" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#modal-@expediente.IdExpediente">
                                                    <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                                </svg>
                                                <!-- Modal -->
                                                <div class="modal fade" id="modal-@expediente.IdExpediente" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                                        <div class="modal-content text-center">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Archivar Expediente</h1>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Seguro que desea archivar este registro?<br>
                                                                <b>@expediente.Asunto</b>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="input-group d-flex justify-content-center">
                                                                    <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                                    <a href="/Expediente/EliminarExpediente/@expediente.IdExpediente" class="btn btn-positive">Aceptar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <script>
        function filterCards() {
            var searchValue = document.getElementById('searchInput').value.toLowerCase();
            var cards = document.getElementsByClassName('card');

            for (var i = 0; i < cards.length; i++) {
                var card = cards[i];
                var cardContent = card.textContent || card.innerText;

                if (cardContent.toLowerCase().indexOf(searchValue) > -1) {
                    card.style.display = '';
                } else {
                    card.style.display = 'none';
                }
            }
        }
    </script>
    <script>
        function filterCardsByEstado() {
            var selectedOption = document.getElementById("filterCombobox").value;
            var activos = document.querySelectorAll(".activos");
            var archivados = document.querySelectorAll(".archivados");

            if (selectedOption === "0") {
                activos.forEach(function (card) {
                    card.style.display = "block";
                });

                archivados.forEach(function (card) {
                    card.style.display = "none";
                });
            } else if (selectedOption === "1") {
                activos.forEach(function (card) {
                    card.style.display = "none";
                });

                archivados.forEach(function (card) {
                    card.style.display = "block";
                });
            } else if (selectedOption === "2") {
                activos.forEach(function (card) {
                    card.style.display = "block";
                });

                archivados.forEach(function (card) {
                    card.style.display = "block";
                });
            }
        }
    </script>
</body>
</html>