@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ThemisWorkshop.Controllers;
    ViewData["Title"] = "Expedientes";
    @model List<Expediente> 
    int cantidadPag = ExpedienteController.ObtenerPaginasFronted(10) + 1;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="row my-3">
        <div class="col-2">
            <select class="form-select" id="filter_combobox" onchange="filter_table2()">
                <option selected value="0">Activos</option>
                <option value="1">Archivados</option>
                <option value="2">Todos</option>
            </select>
        </div>
        <div class="col ps-0">
            <input type="text" class="form-control" id="search_filter" placeholder="Escribe para buscar..." value="" required="" onkeyup="filter_table()">
        </div>
        <div class="col-auto ps-0">
            <a class="btn btn-positive" href="/Cliente/ListarClientes/1" role="button">Registrar</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <table class="table table-responsive table-hover" id="table">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Fecha de Apertura</th>
                        <th style="width: 2.5%;"></th>
                        <th style="width: 2.5%;"></th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @foreach (var expediente in Model)
                    {
                        <tr>
                            <td>
                                <input type="hidden" value="@expediente.IdExpediente" id="idExpediente">

                                @if (expediente.Activo == true)
                                {
                                    <input type="hidden" value="1" id="isActive-@expediente.IdExpediente">
                                } 
                                else
                                {
                                    <input type="hidden" value="0" id="isActive-@expediente.IdExpediente">
                                }
                                @expediente.Asunto
                            </td>
                            @{
                                var cliente = ExpedienteController._temp.Clientes.Where(e => e.IdClientes == expediente.IdCliente).FirstOrDefault();
                            }
                            <td>@cliente.Nombre @cliente.Apellido</td>
                            <td>@expediente.FechaApertura</td>
                            <td>
                                <a href="/Expediente/ModificarExpediente/@expediente.IdExpediente" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modificar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#323232" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                            </td>
                            @if (expediente.Activo == true)
                            {
                                <td>
                                    <!-- Button trigger modal -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-archive" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal-@expediente.IdExpediente">
                                        <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                    </svg>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal-@expediente.IdExpediente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                            <div class="modal-content text-center">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Archivar Expediente</h1>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Seguro que desea archivar este registro?<br>
                                                    <b>@expediente.Asunto</b>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="input-group d-flex justify-content-center">
                                                        <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                                        <a href="/Expediente/EliminarExpediente/@expediente.IdExpediente" class="btn btn-positive">Aceptar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <!-- Button trigger modal -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eec4b6" class="bi bi-archive" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal-@expediente.IdExpediente">
                                        <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (cantidadPag > 1)
    {
        <div class="row">
            <div class="col d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="/Expediente/ListarExpediente/1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= cantidadPag; i++)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Expediente/ListarExpediente/@i">@i</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" href="/Expediente/ListarExpediente/@cantidadPag" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    }

    <script>
        function filter_table2() {
            var filterOption = document.getElementById("filter_combobox").value;
            var tableBody = document.getElementById("tableBody");
            var rows = tableBody.getElementsByTagName("tr");

            if (filterOption == 0) {
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    var idExpediente = row.querySelector("#idExpediente").value;
                    var isActive = row.querySelector("#isActive-" + idExpediente).value;
                    console.log(isActive)

                    if (isActive == 1) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            } else if (filterOption == 1) {
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    var idExpediente = row.querySelector("#idExpediente").value;
                    var isActive = row.querySelector("#isActive-" + idExpediente).value;
                    console.log(isActive)

                    if (isActive == 0) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            } else {
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    row.style.display = "";
                }
            }
        }

        window.addEventListener('load', function () {
            filter_table2();
        });
    </script>

    <script>
        function filter_table() {
            var input, filter, table, tr, td, i, j, visible;
            input = document.getElementById("search_filter");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                visible = false;
                if (tr[i].getElementsByTagName("th").length == 0) {
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            visible = true;
                        }
                    }
                } else {
                    visible = true;
                }
                if (visible) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>