@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Empleados";
    @model List<Usuario> 
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .btn-crear {
            background-color: #0E58C4;
            color: #FFFFFF;
            width: 8rem;
            height: 2.5rem;
        }

        .modal-backdrop {
            display: none;
        }

        .table {
            background-color: rgba(255, 255, 255, 0.5);
        }

    </style>
</head>

<body>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col">
                <h1><b>E</b>mpleados</h1>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a href="/Empleado/AgregarEmpleado" type="button" class="btn btn-crear">+ Registrar</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="row g-2">
                    <div class="col-2">
                        <div class="form-floating">
                            <select class="form-select" id="filterCombobox" onchange="filterTable()">
                                <option value="0" selected>Todos</option>
                                <option value="1">Abogados</option>
                                <option value="2">Secretarios</option>
                            </select>
                            <label for="filterCombobox">Filtra por:</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="filterInput" onkeyup="filterTable()" placeholder="filterInput" value="">
                            <label for="filterInput">Escribe para buscar...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-responsive" id="table">
                    <thead>
                        <tr>
                            <th width="10%">Nombre</th>
                            <th width="10%">Apellido</th>
                            <th width="5%">Documento de Identidad</th>
                            <th width="10%">Correo</th>
                            <th width="5%">Teléfono</th>
                            <th width="5%">Fecha De Nacimiento</th>
                            <th width="10%">Nacionalidad</th>
                            <th width="5%">Sexo</th>
                            <th width="10%">Estado Cívil</th>
                            <th width="10%">Dirección</th>
                            <th width="10%">Crédito</th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m=>usuario.Nombre)</td>
                                <td>@Html.DisplayFor(m=>usuario.Apellido)</td>
                                <td>@Html.DisplayFor(m=>usuario.Cedula)</td>
                                <td>@Html.DisplayFor(m=>usuario.Correo)</td>
                                <td>@Html.DisplayFor(m=>usuario.Telefono)</td>
                                <td>@Html.DisplayFor(m=>usuario.Fechanacimiento,new { format = "dd-MM-yyyy" })</td>
                                <td>@Html.DisplayFor(m=>usuario.Pais)</td>
                                <td>@Html.DisplayFor(m=>usuario.Sexo)</td>
                                <td>@Html.DisplayFor(m=>usuario.EstadoCivil)</td>
                                <td>@Html.DisplayFor(m=>usuario.Direccion)</td>
                                <td>
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="7F7F7F" class="bi bi-trash3-fill" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal-@usuario.IdUsuario">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </a>
                                    <div class="modal fade" id="exampleModal-@usuario.IdUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" style="text-align: center">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel"><b>E</b>liminar <b>U</b>suario</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que desea eliminar este registro?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a href="/Empleado/EliminarEmpleado/@usuario.IdUsuario" class="btn btn-crear">Confirmar</a>
                                                    <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a href="/Empleado/ModificarEmpleado/@usuario.IdUsuario">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="7F7F7F" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, j, visible;
            input = document.getElementById("filterInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                visible = false;
                if (tr[i].getElementsByTagName("th").length == 0) {
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            visible = true;
                        }
                    }
                } else {
                    visible = true;
                }
                if (visible) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }

        function filterTable() {
            var filterValue = document.getElementById("filterCombobox").value;
            var tableRows = document.getElementById("table").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            for (var i = 0; i < tableRows.length; i++) {
                var row = tableRows[i];
                var clientName = row.getElementsByTagName("td")[0].textContent;
                if (filterValue === "" || filterValue === clientName) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    </script>
</body>
</html>