@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ThemisWorkshop.Controllers;
    ViewData["Title"] = "Agregar/Modificar Factura";
    @model FacturaViewModel
    ViewData["Title"] = "Registrar Factura";

    var cliente = 0;
    string asunto;
    string ruta;

    if (Model.IdConsulta == -1)
    {
        List<Expediente> expedientes = FacturaController._temp.Expediente.ToList();
        var expediente = expedientes.Where(e => e.IdExpediente == Model.IdExpediente).FirstOrDefault();
        cliente = expediente.IdCliente;

        asunto = expediente.Asunto;
        ruta = "/Expediente/ListarExpedientes/1";
    }
    else
    {
        List<Consulta> consultas = FacturaController._temp.Consulta.ToList();
        var consulta = consultas.Where(e => e.IdConsulta == Model.IdConsulta).FirstOrDefault();

        List<Cita> citas = FacturaController._temp.Cita.ToList();

        var cita = citas.Where(e => e.IdCita == consulta.IdCita).FirstOrDefault();
        cliente = cita.IdCliente;

        asunto = cita.Asunto;
        ruta = "/Consulta/ListarConsultas/1";
    }

    List<Servicio> servicios = FacturaController._temp.Servicio.ToList();
    var servicio = servicios.Where(e => e.IdServicio == Model.IdServicio).FirstOrDefault();
    var precioFijo = servicio.Preciofijo;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form asp-controller="Factura" asp-action="AddFactura" method="post" onsubmit="return validarFechaLimite()">
        <input type="hidden" value="@Model.IdServicio" name="idServicio">
        <input type="hidden" value="@Model.IdExpediente" name="idExpediente">
        <input type="hidden" value="@Model.IdConsulta" name="idConsulta">
        <input type="hidden" value="@cliente" name="idCliente">
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                <p class="m-0">Información General:</p>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input required type="text" class="form-control" id="titulo" placeholder="@asunto" value="@asunto" name="titulo" maxlength="60">
                    <label for="titulo">Título</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input readonly type="number" class="form-control" id="costo" placeholder="@precioFijo" value="@precioFijo" name="costo" maxlength="100" step="0.01">
                    <label for="costo">Costo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input readonly type="date" class="form-control" id="fechaEmision" placeholder="fechaEmision" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fechaEmision" timezone="-240">
                    <label for="fechaEmision">Fecha de Emisión</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                <p class="m-0">Detalles del Pago:</p>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input required type="number" class="form-control" id="montoVariable" placeholder="montoVariable" value="0.00" name="montoVariable" maxlength="100" step="0.01" oninput="sumar_montoTotal()">
                    <label for="montoVariable">Monto Variable</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input required type="date" class="form-control" id="fechaLimite" placeholder="fechaLimite" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fechaLimite" timezone="-240">
                    <label for="fechaLimite">Fecha Límite</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="esCredito" name="esCredito">
                        <option selected value="false">Contado</option>
                        <option value="true">Crédito</option>
                    </select>
                    <label for="esCredito">Método de Pago</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input readonly type="number" class="form-control" id="montoTotal" placeholder="@precioFijo" value="@precioFijo" name="montoTotal" maxlength="100" step="0.01">
                    <label for="montoTotal">Monto Total (Costo + Monto Variable)</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="input-group d-flex justify-content-end">
                    <a href="@ruta" class="btn btn-negative">Cancelar</a>
                    <button type="submit" class="btn btn-positive">Registrar</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        function sumar_montoTotal() {
            var precioFijo = parseFloat(@precioFijo);
            var montoVariable = parseFloat(document.getElementById("montoVariable").value);
            var montoTotal = precioFijo + (isNaN(montoVariable) ? 0 : montoVariable);

            if (!isNaN(montoTotal)) {
                document.getElementById("montoTotal").value = montoTotal.toFixed(2);
            }
        }
    </script>

</body>
</html>