@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Agregar/Modificar Cliente";
    @model Cliente
    @if (Model == null) // Si no hay nada, significa que esta agregando un Cliente
    {
        ViewData["Title"] = "Registrar Cliente";
    }
    else // Si hay algo, significa que esta modificando un Cliente
    {
        ViewData["Title"] = "Modificar Cliente";
    }

    List<String> paises = new List<String>();
    paises.Add("República Dominicana");
    paises.Add("Estados Unidos");
    paises.Add("Venezuela");
    paises.Add("Colombia");
    paises.Add("Canadá");
    paises.Add("Haití");
    paises.Add("Cuba");
    paises.Add("Otro");
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    @if (Model == null)
    {
        <form asp-controller="Cliente" asp-action="AddCliente" method="post">
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de Personal:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-4">
                    <div class="form-floating">
                        <select class="form-select" id="tipo" name="tipo">
                            <option selected value="Fisico">Físico</option>
                            <option value="Moral">Moral</option>
                        </select>
                        <label for="tipo">Tipo de Cliente</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="docIdentidad" placeholder="" value="" name="docIdentidad" minlength="11" maxlength="13">
                        <label for="docIdentidad">Documento de Identidad</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="nombre" placeholder="" value="" name="nombre" maxlength="50">
                        <label for="nombre">Nombre</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="apellido" placeholder="" value="" name="apellido" maxlength="50">
                        <label for="apellido">Apellido</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-2">
                    <div class="form-floating">
                        <select class="form-select" id="sexo" name="sexo">
                            <option selected value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                        <label for="sexo">Sexo</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="nacionalidad" name="nacionalidad">
                            @foreach (var pais in paises)
                            {
                                <option value="@pais">@pais</option>
                            }
                        </select>
                        <label for="nacionalidad">Nacionalidad</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating">
                        <select class="form-select" id="estadoCivil" name="estadoCivil">
                            <option selected value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                        </select>
                        <label for="estadoCivil">Estado Cívil</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control" id="fecha" placeholder="" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                        <label for="fecha">Fecha de Nacimiento</label>
                    </div>
                </div>
                
            </div>
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de Contacto:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="direccion" placeholder="" value="" name="direccion" maxlength="200">
                        <label for="direccion">Dirección</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="correo" placeholder="" value="" name="correo" maxlength="150">
                        <label for="correo">Correo Electrónico</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input required type="tel" class="form-control" id="telefono" placeholder="" value="" name="telefono" maxlength="15">
                        <label for="telefono">Teléfono 1</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="telefono2" placeholder="" value="" name="telefono2" maxlength="15">
                        <label for="telefono2">Teléfono 2</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Cliente/ListarClientes/1" class="btn btn-negative">Cancelar</a>
                        <button type="submit" class="btn btn-positive">Registrar</button>
                    </div>
                </div>
            </div> 
        </form>
    }
    else
    {
        <form asp-controller="Cliente" asp-action="ModCliente" method="post">
            <input type="hidden" value="@Model.IdClientes" name="id">
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de Personal:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-4">
                    <div class="form-floating">
                        <select class="form-select" id="tipo" name="tipo">
                            @{
                                if (Model.Tipo.Equals("Fisico"))
                                {
                                    <option selected value="Fisico">Físico</option>
                                    <option value="Moral">Moral</option>
                                }
                                else
                                {
                                    <option value="Fisico">Físico</option>
                                    <option selected value="Moral">Moral</option>
                                }
                            }
                        </select>
                        <label for="tipo">Tipo de Cliente</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="docIdentidad" placeholder="" value="@Model.Cedula" name="docIdentidad" minlength="11" maxlength="13">
                        <label for="docIdentidad">Documento de Identidad</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="nombre" placeholder="" value="@Model.Nombre" name="nombre" maxlength="50">
                        <label for="nombre">Nombre</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="apellido" placeholder="" value="@Model.Apellido" name="apellido" maxlength="50">
                        <label for="apellido">Apellido</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-2">
                    <div class="form-floating">
                        <select class="form-select" id="sexo" name="sexo">
                            @{
                                if (Model.Sexo == null)
                                {
                                    <option selected value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                }
                                else
                                {
                                    if (Model.Sexo.Equals("Masculino"))
                                    {
                                        <option selected value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                    }
                                    else
                                    {
                                        <option value="Masculino">Masculino</option>
                                        <option selected value="Femenino">Femenino</option>
                                    }
                                }
                            }
                        </select>
                        <label for="sexo">Sexo</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" id="nacionalidad" name="nacionalidad">
                            @{
                                foreach (var pais in paises)
                                {
                                    if (Model.Pais == null)
                                    {
                                        if (pais.Equals(Model.Pais))
                                        {
                                            <option selected value="@pais">@pais</option>
                                        }
                                        else
                                        {
                                            <option value="@pais">@pais</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@pais">@pais</option>
                                    }
                                }
                            }
                        </select>
                        <label for="nacionalidad">Nacionalidad</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating">
                        <select class="form-select" id="estadoCivil" name="estadoCivil">
                            @{
                                if (Model.EstadoCivil == null)
                                {
                                    <option selected value="Soltero">Soltero</option>
                                    <option value="Casado">Casado</option>                                    
                                }
                                else
                                {
                                    if (Model.EstadoCivil.Equals("Soltero"))
                                    {
                                        <option selected value="Soltero">Soltero</option>
                                        <option value="Casado">Casado</option>
                                    }
                                    else
                                    {
                                        <option value="Soltero">Soltero</option>
                                        <option selected value="Casado">Casado</option>
                                    }
                                }
                            }
                        </select>
                        <label for="estadoCivil">Estado Cívil</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        @{
                            string dataString = Model.Fechanacimiento.ToString();
                            DateTime date = DateTime.Parse(dataString);
                        }
                        <input type="date" class="form-control" id="fecha" placeholder="" value="@date.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                        <label for="fecha">Fecha de Nacimiento</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de Contacto:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="direccion" placeholder="" value="@Model.Direccion" name="direccion" maxlength="200">
                        <label for="direccion">Dirección</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="correo" placeholder="" value="@Model.Correo" name="correo" maxlength="150">
                        <label for="correo">Correo Electrónico</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input required type="tel" class="form-control" id="telefono" placeholder="" value="@Model.Telefono" name="telefono" maxlength="15">
                        <label for="telefono">Teléfono 1</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="telefono2" placeholder="" value="@Model.Telefono2" name="telefono2" maxlength="15">
                        <label for="telefono2">Teléfono 2</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Cliente/ListarClientes/1" class="btn btn-negative">Cancelar</a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-positive" data-bs-toggle="modal" data-bs-target="#exampleModal">Modificar</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Modificar Cliente</h1>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro que desea guardar los cambios?
                                    </div>
                                    <div class="modal-footer">
                                        <div class="input-group d-flex justify-content-center">
                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-positive">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    <script>

        function onChange() {
            const tipo = document.getElementById("tipo");
            const apellido = document.getElementById("apellido");
            const sexo = document.getElementById("sexo");
            const nacionalidad = document.getElementById("nacionalidad");
            const estadoCivil = document.getElementById("estadoCivil");
            const fecha = document.getElementById("fecha");

            if (tipo.value == "Fisico") {
                apellido.disabled = false;
                apellido.required = true;

                sexo.disabled = false;
                sexo.required = true;

                estadoCivil.disabled = false;
                estadoCivil.required = true;

                fecha.disabled = false;
                fecha.required = true;

                document.querySelector('label[for="docIdentidad"]').textContent = "Documento de Identidad";
            } else {
                apellido.disabled = true;
                apellido.required = false;

                sexo.disabled = true;
                sexo.required = false;

                estadoCivil.disabled = true;
                estadoCivil.required = false;

                fecha.disabled = true;
                fecha.required = false;

                document.querySelector('label[for="docIdentidad"]').textContent = "RNC";
            }
        }

        const tipo = document.getElementById("tipo");
        tipo.addEventListener("change", onChange);

        window.addEventListener("load", onChange);
    </script>
</body>
</html>