@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Agregar/Modificar Cliente";
    @model Cliente
    @if (Model == null) // Si no hay nada, significa que esta agregando un Cliente
    {
        ViewData["Title"] = "Registrar Cliente";
    }
    else // Si hay algo, significa que esta modificando un Cliente
    {
        ViewData["Title"] = "Modificar Cliente";
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar/Modificar Cliente</title>

    <style>
        .dimension {
            width: 8rem;
            height: 2.5rem;
        }

        .filled {
            background-color: #0E58C4;
            color: #FFFFFF;
        }

        .outline {
            border: 2px solid;
            color: #0E58C4;
        }

        .card-footer {
            background: none;
        }
    </style>
</head>

<body>
    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    @if (Model == null)
                    {
                        <div class="card-header text-center">
                            <h3 class="card-title"><b>N</b>uevo <b>C</b>liente</h3>
                        </div>
                        <form asp-controller="Cliente" asp-action="AddCliente" method="post">
                            <div class="card-body">
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="nombre" placeholder="nombre" value="" name="nombre" maxlength="50">
                                            <label for="nombre">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="apellido" placeholder="apellido" value="" name="apellido" maxlength="50">
                                            <label for="apellido">Apellido</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="docIdentidad" placeholder="docIdentidad" value="" name="docIdentidad" minlength="9" maxlength="11">
                                            <label for="docIdentidad">Doc. de Identidad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="sexo" name="sexo">
                                                <option selected value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                            <label for="sexo">Sexo</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="nacionalidad" name="nacionalidad">
                                                @{
                                                    List<String> paises = new List<String>();
                                                    paises.Add("República Dominicana");
                                                    paises.Add("Estados Unidos");
                                                    paises.Add("Cuba");
                                                    paises.Add("Venezuela");
                                                    paises.Add("Colombia");
                                                    paises.Add("Haití");
                                                }

                                                @foreach (var pais in paises)
                                                {
                                                    <option value="@pais">@pais</option>
                                                }
                                            </select>
                                            <label for="nacionalidad">Nacionalidad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="estadoCivil" name="estadoCivil">
                                                <option selected value="Soltero">Soltero</option>
                                                <option value="Casado">Casado</option>
                                                <option value="Viudo">Viudo</option>
                                            </select>
                                            <label for="estadoCivil">Estado Cívil</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="date" class="form-control" id="fecha" placeholder="fecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                                            <label for="fecha">Fecha de Nacimiento (DD/MM/AAAA)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="direccion" placeholder="direccion" value="" name="direccion" maxlength="100">
                                            <label for="direccion">Dirección</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="correo" placeholder="correo" value="" name="correo" maxlength="100">
                                            <label for="correo">Correo Electrónico</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="tel" class="form-control" id="telefono" placeholder="telefono" value="" name="telefono" maxlength="15">
                                            <label for="telefono">Teléfono</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="input-group my-2 d-flex justify-content-end">
                                    <a href="/Cliente/ListarClientes" class="btn ml-auto dimension outline">Cancelar</a>
                                    <button type="submit" class="btn ml-auto dimension filled">Registrar</button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="card-header text-center">
                            <h3 class="card-title"><b>M</b>odificar <b>C</b>liente</h3>
                        </div>
                        <form asp-controller="Cliente" asp-action="ModCliente" method="post">
                            <input type="hidden" value="@Model.IdClientes" name="id">
                            <div class="card-body">
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="nombre" placeholder="nombre" value="@Model.Nombre" name="nombre" maxlength="50">
                                            <label for="nombre">Nombre</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="apellido" placeholder="apellido" value="@Model.Apellido" name="apellido" maxlength="50">
                                            <label for="apellido">Apellido</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="docIdentidad" placeholder="docIdentidad" value="@Model.Cedula" name="docIdentidad" minlength="9" maxlength="11">
                                            <label for="docIdentidad">Doc. de Identidad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="sexo" name="sexo">
                                                @if (Model.Sexo.Equals("Masculino"))
                                                {
                                                    <option selected value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                }
                                                else
                                                {
                                                    <option value="Masculino">Masculino</option>
                                                    <option selected value="Femenino">Femenino</option>
                                                }
                                            </select>
                                            <label for="sexo">Sexo</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="nacionalidad" name="nacionalidad">
                                                @{
                                                    List<String> paises = new List<String>();
                                                    paises.Add("República Dominicana");
                                                    paises.Add("Estados Unidos");
                                                    paises.Add("Cuba");
                                                    paises.Add("Venezuela");
                                                    paises.Add("Colombia");
                                                    paises.Add("Haití");
                                                }

                                                @foreach (var pais in paises)
                                                {
                                                    @if (pais.Equals(Model.Pais))
                                                    {
                                                        <option selected value="@pais">@pais</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@pais">@pais</option>
                                                    }
                                                }
                                            </select>
                                            <label for="nacionalidad">Nacionalidad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <select class="form-select" id="estadoCivil" name="estadoCivil">
                                                @if (Model.EstadoCivil.Equals("Soltero"))
                                                {
                                                    <option selected value="Soltero">Soltero</option>
                                                    <option value="Casado">Casado</option>
                                                    <option value="Viudo">Viudo</option>
                                                }
                                                else if (Model.EstadoCivil.Equals("Casado"))
                                                {
                                                    <option value="Soltero">Soltero</option>
                                                    <option selected value="Casado">Casado</option>
                                                    <option value="Viudo">Viudo</option>    
                                                }
                                                else
                                                {
                                                    <option value="Soltero">Soltero</option>
                                                    <option value="Casado">Casado</option>
                                                    <option selected value="Viudo">Viudo</option>
                                                }
                                            </select>
                                            <label for="estadoCivil">Estado Cívil</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            @{
                                                string dateStr = Model.Fechanacimiento.ToString();
                                                DateTime date = DateTime.Parse(dateStr);
                                            }
                                            <input required type="date" class="form-control" id="fecha" placeholder="fecha" value="@date.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                                            <label for="fecha">Fecha de Nacimiento (DD/MM/AAAA)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="text" class="form-control" id="direccion" placeholder="direccion" value="@Model.Direccion" name="direccion" maxlength="100">
                                            <label for="direccion">Dirección</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3 border-bottom"></div>
                                <div class="row g-3">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="correo" placeholder="correo" value="@Model.Correo" name="correo" maxlength="100">
                                            <label for="correo">Correo Electrónico</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input required type="tel" class="form-control" id="telefono" placeholder="telefono" value="@Model.Telefono" name="telefono" maxlength="15">
                                            <label for="telefono">Teléfono</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="input-group my-2 d-flex justify-content-end">
                                    <a href="/Cliente/ListarClientes" class="btn ml-auto dimension outline">Cancelar</a>
                                    <!-- Button trigger modal -->
                                    <a class="btn ml-auto dimension filled" data-bs-toggle="modal" data-bs-target="#exampleModal">Modificar</a>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"><b>M</b>odificar <b>C</b>liente</h1>
                                        </div>
                                        <div class="modal-body text-center">
                                            <span>¿Desea guardar los cambios?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="input-group my-2 d-flex justify-content-end">
                                                <button class="btn ml-auto dimension outline" type="button" data-bs-dismiss="modal">Cancelar</button>
                                                <button class="btn ml-auto dimension filled" type="submit">Modificar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>