@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Clientes";
    @model  List<Cliente> 
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clientes</title>

    <style>
        .btn-crear {
            background-color: #0E58C4;
            color: #FFFFFF;
            width: 8rem;
            height: 2.5rem;
        }
    </style>
</head>

<body>
    <div style="height: 4rem; padding-top: 1rem">
        <h1 style="float: left"><b>C</b>lientes</h1>
        <a href="" type="button" class="btn btn-crear" style="float: right; margin-top: 0.25rem">+ Registrar</a>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="myInput" onkeyup="filterTable()" placeholder="Escribe para buscar...">
    </div>

    <table class="table table-hover table-responsive" style="max-width: 100%; overflow-x: auto;" id="myTable">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documento de Identidad</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha De Nacimiento</th>
                <th>Nacionalidad</th>
                <th>Sexo</th>
                <th>Estado Cívil</th>
                <th>Crédito</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cliente in Model) {
            <tr>
                <td>@Html.DisplayFor(m=>cliente.Nombre)</td>
                <td>@Html.DisplayFor(m=>cliente.Apellido)</td>
                <td>@Html.DisplayFor(m=>cliente.Cedula)</td>
                <td>@Html.DisplayFor(m=>cliente.Correo)</td>
                <td>@Html.DisplayFor(m=>cliente.Telefono)</td>
                <td>@Html.DisplayFor(m=>cliente.Fechanacimiento.ToString("dd/MM/yyyy"))</td>
                <td>@Html.DisplayFor(m=>cliente.Pais)</td>
                <td>@Html.DisplayFor(m=>cliente.Sexo)</td>
                <td>@Html.DisplayFor(m=>cliente.Estadocivil)</td>
                <td>@Html.DisplayFor(m=>cliente.Credito)</td>
                <td><a href="../crear"><img src="~/img/edit_icon.png" width="16" height="16" /></a></td>
                <td><a href="../${cliente.id}"><img src="~/img/delete_icon.png" width="16" height="16" /></a></td>
            </tr>
            }
        </tbody>
    </table>

    <script>
        function filterTable() {
            var input, filter, table, tr, td, i, j, visible;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                visible = false;
                if (tr[i].getElementsByTagName("th").length == 0) { // skip the header row
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            visible = true;
                        }
                    }
                } else { // make sure the header row is visible
                    visible = true;
                }
                if (visible) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    </script>

</body>
</html>