@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Agregar/Modificar Tarea";
    @model TareaViewModel
    @if (Model.EsMod == false) // Si no hay nada, significa que esta agregando una Tarea
    {
        ViewData["Title"] = "Agendar Tarea";
    }
    else // Si hay algo, significa que esta modificando una Tarea
    {
        ViewData["Title"] = "Modificar Tarea";
    }
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    @if (Model.EsMod == false)
    {
        <form asp-controller="Tarea" asp-action="AddTarea" method="post">
            <input type="hidden" value="@Model.Usuario.IdUsuario" name="idUsuario">
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Detalles de la Tarea:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="date" class="form-control" id="fecha" placeholder="fecha" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                        <label for="fecha">Fecha</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input required type="time" class="form-control" id="hora" placeholder="hora" value="@DateTime.Now.ToString("HH:mm")" name="hora" timezone="-240">
                        <label for="hora">Hora</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de la Tarea:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="asunto" placeholder="asunto" value="" name="asunto" maxlength="50">
                        <label for="asunto">Asunto</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea class="form-control" id="descripcion" placeholder="descripcion" value="" name="descripcion" style="height: 100px" maxlength="100"></textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Tarea/ListarTareas/1" class="btn btn-negative">Cancelar</a>
                        <button type="submit" class="btn btn-positive">Agendar</button>
                    </div>
                </div>
            </div> 
        </form>
    }
    else
    {
        <form asp-controller="Tarea" asp-action="ModTarea" method="post">
            <input type="hidden" value="@Model.Tarea.IdTarea" name="idTarea">
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Detalles de la Tarea:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        @{
                            string fechaString = Model.Tarea.Fecha.ToString();
                            DateTime fecha = DateTime.Parse(fechaString);
                        }
                        <input required type="date" class="form-control" id="fecha" placeholder="fecha" value="@fecha.ToString("yyyy-MM-dd")" name="fecha" timezone="-240">
                        <label for="fecha">Fecha</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        @{
                            string horaString = Model.Tarea.Hora.ToString();
                            DateTime hora = DateTime.Parse(horaString);
                        }
                        <input required type="time" class="form-control" id="hora" placeholder="hora" value="@hora.ToString("HH:mm")" name="hora" timezone="-240">
                        <label for="hora">Hora</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col-auto fw-bold">
                    Información de la Tarea:
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <input required type="text" class="form-control" id="asunto" placeholder="asunto" value="@Model.Tarea.Asunto" name="asunto" maxlength="50">
                        <label for="asunto">Asunto</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="form-floating">
                        <textarea class="form-control" id="descripcion" placeholder="descripcion" value="@Model.Tarea.Descripcion" name="descripcion" style="height: 100px" maxlength="100">@Model.Tarea.Descripcion</textarea>
                        <label for="descripcion">Descripción</label>
                    </div>
                </div>
            </div>
            <div class="row m-0 g-3">
                <div class="col">
                    <div class="input-group d-flex justify-content-end">
                        <a href="/Tarea/ListarTareas/1" class="btn btn-negative">Cancelar</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-positive" data-bs-toggle="modal" data-bs-target="#modal">Modificar</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5 mx-auto" id="modalLabel">Modificar Tarea</h1>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Seguro que desea guardar los cambios?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="input-group d-flex justify-content-center">
                                            <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-positive">Aceptar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</body>
</html>