@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using ThemisWorkshop.Controllers;
    @using ThemisWorkshop.Models;
    ViewData["Title"] = "Agregar Consulta";
    @model ConsultaViewModel
    ViewData["Title"] = "Registrar Consulta";

    List<Servicio> servicios = ConsultaController._temp.Servicio.Where(e => e.Eliminado == false).ToList();
    List<Expediente> expedientes = ConsultaController._temp.Expediente.Where(e => e.Activo == true).ToList();
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form asp-controller="Consulta" asp-action="AddConsulta" method="post">
        <input type="hidden" value="@Model.Cita.IdCita" name="idCita">
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                Detalles de la Consulta de @Model.Cliente.Nombre @Model.Cliente.Apellido:
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    @{
                        string horaInicialStr = Model.Cita.HoraInicial.ToString();
                        DateTime horainicial = DateTime.Parse(horaInicialStr);
                    }
                    <input disabled type="time" class="form-control" id="horainicial" placeholder="horainicial" value="@horainicial.ToString("HH:mm")" name="horainicial" timezone="-240">
                    <input type="hidden" value="@horainicial.ToString("HH:mm")" name="horainicial">
                    <label for="horainicial">Hora Inicial</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input required type="time" class="form-control" id="horafinal" placeholder="horafinal" value="@horainicial.AddHours(1).ToString("HH:mm")" name="horafinal" timezone="-240" onchange="calcularCosto(); validarHoraFinal()">
                    <label for="horafinal">Hora Final</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="idExpediente" name="idExpediente">
                        <option value="-1">N/A</option>
                        @foreach (var expediente in expedientes)
                        {
                            @if (expediente.IdCliente.Equals(Model.Cliente.IdClientes))
                            {
                                <option value="@expediente.IdExpediente">@expediente.Asunto</option>
                            }
                        }
                    </select>
                    <label for="idExpediente">Expedientes</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col-auto fw-bold">
                Valuación de la Consulta:
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <div class="form-floating">
                    <input required type="number" class="form-control" id="costo" placeholder="costo" value="" name="costo" step="0.01">
                    <label for="costo">Costo</label>
                </div>
            </div>
        </div>
        <div class="row m-0 g-3">
            <div class="col">
                <a class="btn btn-positive-twice" href="/Expediente/AgregarExpediente/@Model.Cliente.IdClientes" role="button">Crear Expediente</a>
            </div>
            <div class="col">
                <div class="input-group d-flex justify-content-end">
                    <a href="/Cita/ListarCitas/1" class="btn btn-negative">Cancelar</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-positive" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar</button>
                </div>

                <!-- Modal -->
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered d-flex align-items-center">
                            <div class="modal-content text-center">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Registrar Consulta</h1>
                                </div>
                                <div class="modal-body">
                                    ¿Seguro que desea registrar la consulta en ese expediente?
                                    <b><span id="expedienteSeleccionadoModal"></span></b>
                                </div>
                                <div class="modal-footer">
                                    <div class="input-group d-flex justify-content-center">
                                        <button type="button" class="btn btn-negative" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-positive">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>